 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Serif', serif;
}
.about_img {
    min-width: 100%;
    max-height: 300px;
}

.Services {
    width: 100%;
    height: 100%;
}

.section_Link {
    background-color: #a6dcef;
}
.services_img1{
    height: 100%;
    width: 100%;
    background-image: url('../Pic/c1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.services_img2{
    height: 100%;
    width: 100%;
    background-image: url('../Pic/c2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.services_img3{
    height: 100%;
    width: 100%;
    background-image: url('../Pic/c3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
footer{
    margin-bottom: 0!important;
}

footer a{
    text-decoration: none;
    color:black;
}
